.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  .contact {
    width: calc(100% - 70px);
    min-width: 329.23px;
    position: fixed;
    z-index: 5;
    bottom: 20px;
  }
}

.contact .col {
  text-align: center;
  padding: 10px 32px;
}

.contact a {
  text-decoration: none;
  color: #000;
}

.fa-envelope,
.fa-github,
.fa-linkedin {
  font-size: 36px;
}

.contact p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (max-width: 1023px) {
  .contact p {
    font-size: 10px;
  }
}
